div(class='navbar navbar-fixed-top')
  div(class='navbar-inner')
    div(class='container-fluid')
      a(class='brand', href='#') Running
      - if (session)
        div(class='btn-group pull-right')
          a(class='btn dropdown-toggle', data-toggle='dropdown', href='#')
            i(class='icon-user')
            | Username
            span(class='caret')
          ul(class='dropdown-menu')
            li
              a(href='#') Preferences
            li(class='divider')
            li
              a(href='/logout') Sign out
      - else
        form(class='navbar-form pull-right', method='POST', action='/login')
          input(class='span3', type='text', placeholder='email')
          | 
          input(class='span2', type='text', placeholder='password')
          input(class='btn search', type='submit', value='Log In →')
