div(class='navbar navbar-fixed-top')
  div(class='navbar-inner')
    div(class='container-fluid')
      a(class='brand', href='#') Running
      - if (session.loggedIn)
        div(class='btn-group pull-right')
          a(class='btn dropdown-toggle', data-toggle='dropdown', href='#')
            i(class='icon-user', style='padding-right: 5px;')
            | #{session.user.email}
            span(class='caret')
          ul(class='dropdown-menu')
            li
              a(href='#') Preferences
            li(class='divider')
            li
              a(href='/logout') Sign Out
      - else
        form(class='navbar-form pull-right', id='loginForm', method='POST', action='/login')
          input(type='hidden', name='_csrf', id='_csrf', value='#{session._csrf}')
          div(class='control-group', style='display:inline-block')
            input(class='span3', type='text', name='email', id='email', placeholder='email')
          | 
          div(class='control-group', style='display:inline-block')
            input(class='span2', type='password', name='password', id='password', placeholder='password')
          input(class='btn search', type='submit', value='Log In →')
        script(src='/js/jquery.validate.js');
        script(src='/js/validate-login.js');
