div(class='navbar navbar-fixed-top')
  div(class='navbar-inner')
    div(class='container-fluid')
      a(class='brand', href='#') Running
      div(class='btn-group pull-right')
        - if (session)
          a(class='btn dropdown-toggle', data-toggle='dropdown', href='#')
            i(class='icon-user')
            | Username
            span(class='caret')
          ul(class='dropdown-menu')
            li
              a(href='#') Preferences
            li(class='divider')
            li
              a(href='/logout') Sign out
        - else
          a(class='btn', href='/signup') Sign Up / Log In
