div.sidebar-nav
  ul(class='nav nav-list')
    li(class='active')
      a(href='#')
        h4
          i.icon-home
          | Home
    li
      a(href='#')
        h4
          i.icon-pencil
          | Log
    li
      a(href='#')
        h4
          i.icon-calendar
          | Calendar
    li
      a(href='#')
        h4
          i.icon-bar-chart(si
          | Statistics
