mixin nav-item-inner(title, link, iconClass)
  a(href='#{link}')
    h4
      i(class='#{iconClass}')
      | #{title}

mixin nav-item(title, link, iconClass)
  li
    mixin nav-item-inner(title, link, iconClass)

mixin nav-item-active(title, link, iconClass)
  li.active
    mixin nav-item-inner(title, link, iconClass)

mixin sidebar-nav-item(active, title, link, iconClass)
  -if (active.toUpperCase() === title.toUpperCase())
    mixin nav-item-active(title, link, iconClass)
    script
      console.log("ACTIVE = #{title}")
  -else
    mixin nav-item(title, link, iconClass)

mixin sidebar(active)
  div.sidebar-nav
    ul.nav.nav-list
      mixin sidebar-nav-item(active, 'Dashboard', '/dashboard', 'icon-home')
      mixin sidebar-nav-item(active, 'Calendar', '/calendar', 'icon-calendar')
      mixin sidebar-nav-item(active, 'Log', '/log', 'icon-pencil')
      mixin sidebar-nav-item(active, 'Statistics', '/statistics', 'icon-bar-chart')
