div(class='well sidebar-nav')
  ul(class='nav nav-list')
    li(class='nav-header', style='text-align: center;') Navigation
    li(class='active')
      a(href='#') Home
    li
      a(href='#') Log
    li
      a(href='#') Calendar
    li
      a(href='#') Statistics
