include includes/navbar
div.container-fluid
  div.row-fluid
    div.span4
      include includes/sidebar
    div.span8
      div(class='hero-unit')
        h1 Welcome.
        a(href='/logout') Please Log Out.

