include includes/navbar
div.container-fluid
  div.row-fluid
    div.span2
      include includes/sidebar
      mixin sidebar('Dashboard')
    div.span10
      div.hero-unit
        h1
          a(href='/logout') Please Log Out.
