style
  .planText, .planEmph {
    text-align: center;
  }
  .planText {
  }
  .planEmph {
    color: #4183c4;
    background: white;
    
    color: white;
    background: #4183c4;
    
    color: #2ba949;
    background: white;
    
    color: white;
    background: #2ba949;

    border-radius: 10px;
    border: 1px solid;
    margin-top: 10px;
    margin-bottom: 10px;
  }
  #progressContainer, #progressPercent {
    height: 30px;
  }
  #progressPercent {
    width: 75%;
  }
  #progressContainer {
    background: #ccc;
  }
  #phaseInfo {
    text-align: center;
  }
  #alertsRow {
    display: none;
  }
  table {
    width: 100%;
  }

include includes/navbar
div.container-fluid
  div.row-fluid
    div.span2
      include mixins/sidebar
      mixin sidebar('Dashboard')
    div.span10
      div.row-fluid(id='progressRow')
          div.span9.progress.loading.progress-striped(id='progressContainer')
            div.bar(id='progressPercent')
              h3 75%
          div.span3(id='phaseInfo')
            h3 Phase 3 (Week 16)
        hr
      div.row-fluid(id='alertsRow')
        hr
      div.row-fluid(id='planRow')
        div.span12.well
          div.span6
            div.planText
              h2 You're running
            div.planEmph
              h2 5 Miles
            div.planText
              h2 in
            div.planEmph
              h2 50-60 minutes.
            div.planText
              h2 It's
            div.planEmph
              h2 an easy run.
          div.span6
            h3 More information about easy runs
            p From this day forward, Flight Control will be known by two words: 'Tough' and
              | 'Competent.' Tough means we are forever accountable for what we do or what
              | we fail to do.
            p We will never again compromise our responsibilities. Every time
              | we walk into Mission Control we will know what we stand for. Competent means
              | we will never take anything for granted.
            p We will never be found short in our
              | knowledge and in our skills. Mission Control will be perfect. When you leave
              | this meeting today you will go to your office and the first thing you will do
              | there is to write 'Tough and Competent' on your blackboards. It will never be
              | erased.
            p Each day when you enter the room these words will remind you of the
              | price paid by Grissom, White, and Chaffee. These words are the price of
              | admission to the ranks of Mission Control.
      div.row-fluid(id='logRow')
        div.span12
          div.span6.well
            h2 How'd you do?
            p logging form will go here logging form will go here logging form will go here logging form will go here logging form will go here logging form will go here logging form will go here logging form will go here logging form will go here logging form will go here logging form will go here logging form will go here
            p logging form will go here logging form will go here logging form will go here logging form will go here logging form will go here logging form will go here logging form will go here logging form will go here logging form will go here logging form will go here logging form will go here logging form will go here
          
          div.span6.well
            div(style='text-align:center')
              h2 History
            table.table
              thead
                tr
                  th Week
                  th Total Miles
                  th Total Time
                  th Average Mile Pace
                  th On Target?
              tbody
                tr
                  td 16 (Current)
                  td 15.3
                  td 2:10:43
                  td 11:09
                  td 
                    i.icon-ok
                tr
                  td 15
                  td 14.2
                  td 2:50:24
                  td 12:00
                  td
                    i.icon-remove
                tr
                  td 14
                  td 15.8
                  td 2:45:54
                  td 10:30
                  td
                    i.icon-ok
            a(href='statistics') ... more statistics
