<!doctype html>
<html lang='en'>

<head>
  <title>A Faster Me</title>
  <meta charset='utf-8'>
  <meta name='viewport' content='width=device-width, initial-scale=1.0'/>

  <!--<link rel='stylesheet' href='1140.css' type='text/css' media='screen'/>-->
  <link rel='stylesheet' href='index.css' type='text/css' media='screen'/>
</head>

<body>

<div id='header'>
  <div style='float: left'>
    A Faster Me
  </div>
  <div style='float: right'>
    <ul>
      <li> A </li>
      <li> B </li>
      <li> C </li>
      <li> D </li>
    </ul>
  </div>
</div>

<div id='nav'>
  hello
</div>

<div id='content'>
</div>

</body>

</html>

