div(class='navbar navbar-fixed-top')
  div(class='navbar-inner')
    div(class='container-fluid')
      a(class='brand', href='#') Running
      div(class='btn-group pull-right')
        a(class='btn dropdown-toggle', data-toggle='dropdown', href='#')
          i(class='icon-user')
          | Username
          span(class='caret')
        ul(class='dropdown-menu')
          li
            a(href='#') Preferences
          li(class='divider')
          li
            a(href='#') Sign out

div(class='container-fluid')
  div(class='row-fluid')
    div(class='span3')
      div(class='well sidebar-nav')
        ul(class='nav nav-list')
          li(class='nav-header', style='text-align: center;') Navigation
          li(class='active')
            a(href='#') Home
          li
            a(href='#') Log
          li
            a(href='#') Calendar
          li
            a(href='#') Statistics
          
    div(class='span9 hero-unit')
      h1= title
      p Welcome to #{title}
      p
        | This is a template for a simple marketing or informational website.
        | It includes a large callout called the hero unit and three supporting
        | pieces of content. Use it as a starting point to create something more unique.
      p
        a(class='btn btn-primary btn-large') Learn more &raquo;
