div(class='navbar navbar-fixed-top')
  div(class='navbar-inner')
    div(class='container-fluid')
      a(class='btn btn-navbar', data-toggle='collapse', data-target='.nav-collapse')
        span(class='icon-bar')
        span(class='icon-bar')
        span(class='icon-bar')
      a(class='brand', href='#') Running
      div(class='btn-group pull-right')
        a(class='btn dropdown-toggle', data-toggle='dropdown', href='#')
          i(class='icon-user')
          | Username
          span(class='caret')
        ul(class='dropdown-menu')
          li
            a(href='#') Profile
          li(class='divider')
          li
            a(href='#') Sign out
        
        // ul(class='nav')
        // li(class='active')
        //   a(href='#') Home

div(class='container-fluid')
  div(class='row-fluid')
    div(class='span3')
      div(class='well sidebar-nav')
        ul(class='nav nav-list')
          li(class='nav-header', style='text-align: center;') Sidebar 1
          li(class='active')
            a(href='#') Home
          li
            a(href='#') Log
          li
            a(href='#') Stats
          li
            a(href='#') Preferences
          
          // li(class='nav-header') Sidebar 2
          // li
          //   a(href='#') Link
      div(class='well sidebar-nav')
        ul(class='nav nav-list')
          li(class='nav-header', style='text-align: center;') Sidebar 2
          li(class='active')
            a(href='#') Testing
          li
            a(href='#') Testing AGAIN
    
    div(class='span9')
      h1= title
      p Welcome to #{title}
      p
        | This is a template for a simple marketing or informational website.
        | It includes a large callout called the hero unit and three supporting
        | pieces of content. Use it as a starting point to create something more unique.
      p
        a(class='btn btn-primary btn-large') Learn more &raquo;
      hr
  div(class='row-fulid')
    div(class='span12')
      p Hello
