include includes/navbar
div(class='container-fluid')
  
  div(class='hero-unit')
    div(class='row-fluid')
      div(class='span4')
        img(src='/img/pair_running.jpg')
      div(class='span8', style='text-align: center')
        h1 Stop Running Alone
        br
        p
          | The Earth is a very small stage in a vast cosmic arena. Think of the
          | rivers of blood spilled by all those generals and emperors so that, in
          | glory and triumph, they could become the momentary masters of a 
          | fraction of a dot. Think of the endless cruelties visited by the inhabitants
          | of one corner of this pixel on the scarcely distinguishable inhabitants of
          | some other corner, how frequent their misunderstandings, how eager they are
          | to kill one another, how fervent their hatreds.
        br
        a(class='btn btn-primary btn-large') Sign Up Now &raquo;
  
  div(class='row-fluid')
    div(class='span4')
      h1 It's Smart
      p First, I believe that this nation should commit itself to achieving the goal, before this decade is out, of landing a man on the moon and returning him safely to the earth. No single space project in this period will be more impressive to mankind, or more important for the long-range exploration of space; and none will be so difficult or expensive to accomplish.
    div(class='span4')
      h1 It's Safe
      p Our posturings, our imagined self-importance, the delusion that we have some privileged position in the Universe, are challenged by this point of pale light. Our planet is a lonely speck in the great enveloping cosmic dark. In our obscurity, in all this vastness, there is no hint that help will come from elsewhere to save us from ourselves.
    div(class='span4')
      h1 It Works
      p The Earth is a very small stage in a vast cosmic arena. Think of the rivers of blood spilled by all those generals and emperors so that, in glory and triumph, they could become the momentary masters of a fraction of a dot. Think of the endless cruelties visited by the inhabitants of one corner of this pixel on the scarcely distinguishable inhabitants of some other corner, how frequent their misunderstandings, how eager they are to kill one another, how fervent their hatreds.
  
  div(class='row-fluid')
    div(class='span12')
      include includes/footer
