!!! 5
html
  head
    // Meta
    title= title
    meta(charset='utf-8')
    meta(name='viewport', content='width=device-width, initial-scale=1.0')
    meta(name='description', content='A running website')
    meta(name='author', content='Peter Downs')

    // Styles
    //link(rel='stylesheet', href='/css/bootstrap.css')
    link(rel='stylesheet', href='/css/cerulean.css')
    link(rel='stylesheet', href='/css/layout.css')
    link(rel='stylesheet', href='/css/bootstrap-responsive.css')

    // JS
    script(src='/js/jquery.min.js')
    script(src='/js/bootstrap.min.js')
    script(src='/js/underscore.min.js')
  
  body!= body
