include includes/navbar
div(class='container-fluid')
  div(class='row-fluid')
    div(class='span2')
    div(class='span8')
      div(class='hero-unit')
        h1 Sign up with 'EterTraining
        p The only running website that's 100% approved by Peter Downs, Max Norris, AND Brian Klick.
        p Notably, The inimitable Jack Huemmler has expressed his support for this project. Dude's a beast.
        a(class='btn', href='/user', method='PUT') Create My Account →
    div(class='span2')
    
