<!doctype html>
<html lang='en'>
<head>
  <title>A Faster Me</title>
  <meta charset='utf-8'>
  <meta name='viewport' content='width=device-width, initial-scale=1.0'/>

  <link rel='stylesheet' href='/css/bootstrap.css' type='text/css' media='screen'/>
  <link rel='stylesheet' href='/css/splash.css' type='text/css' media='screen'/>
</head>
<body>
  <div id='main'>
    <h1> A FASTER ME </h1>
    <div class='form'>
      <form class='form-search'>
        <input type='text' class='search input-medium' placeholder='email'>
        <input type='password' class='input-medium' placeholder='password'>
        <input type='password2' class='input-medium' placeholder='password (again)'>
        <input type='password' class='input-medium' placeholder='secret key'>
        <button type='submit' class='btn btn-primary'> Register </button> 
      </form>
    </div>
    <div class='form'>
      <form class='form-search'>
        <input type='text' class='search input-medium' placeholder='email'>
        <input type='password' class='input-medium' placeholder='password'>
        <button type='submit' class='btn'> Log In </button> 
      </form>
    </div>
  </div>
</body>
</html>
