include includes/navbar

div.container-fluid
  div.row-fluid
    div.span2
      include mixins/sidebar
      mixin sidebar('Calendar')
    div.span10(id='calendarContainer')
      h1#calYear
      h2#calMonth
      table.calendar(id='calendar')
        thead
        tbody
      button.btn(name='last', id='last') Previous Month
      button.btn(name='current', id='current') This Month
      button.btn(name='next', id='next') Next Month

link(rel='stylesheet', href='/css/calendar.css')
script(src='/js/cal.js')
//script(src='/js/calendar.js')
