style
  .calendar th{
    font-size:14px;
    font-weight:bold;
    border:1px solid #ccc;
    padding: 20px;
  }
  .calDate {
    position: absolute;
    top: 0;
    left: 0;
    padding: 2px;
  }
  .calInfo {
    position: absolute;
    right: 0;
    bottom: 0;
    padding: 2px;
  }
  .calIcon {
    text-align: center;
  }
  .calendar td {
    height:80px;
    font-size:18px;
    padding: 5px;
    border: 1px solid #ccc;
    position: relative;
  }

  .calendar td.today{
    border: 2px solid #000;
  }

  .content{
  }

  .easy {
    background-color: #79FF4D;
  }
  .threshold, .intervals, .repeats {
    background-color: #FF4D79;
  }
  .long {
    background-color: #4DFFD2;
  }

include includes/navbar

div.container-fluid
  div.row-fluid
    div.span2
      include mixins/sidebar
      mixin sidebar('Calendar')
    div.span10(id='calendarContainer')
      div(style='display:none')
        form(id='calendarForm')
          input(type='hidden', name='_csrf', id='_csrf', value='#{session._csrf}')
      table.calendar(id='calendar')
        thead
          tr
            th(colspan='8', style='text-align:center')
              h1(id='calYear') Hi
            
        tbody
      br
      br
      button.btn(name='lastMonth', id='lastMonth') Previous Month
      button.btn(name='currentMonth', id='currentMonth') This Month
      button.btn(name='nextMonth', id='nextMonth') Next Month
    div(id='modals');

script(src='/js/cal.js')
