style
  .planText, .planEmph {
    text-align: center;
  }
  .planText {
  }
  .planEmph {
    color: #4183c4;
    background: white;
    
    color: white;
    background: #4183c4;
    
    color: #2ba949;
    background: white;
    
    color: white;
    background: #2ba949;

    border-radius: 10px;
    border: 1px solid;
    margin-top: 10px;
    margin-bottom: 10px;
  }
  #progressContainer, #progressPercent {
    height: 30px;
  }
  #progressPercent {
    width: 0%;
  }
  #progressContainer {
    background: #ccc;
  }
  #phaseInfo {
    text-align: center;
  }
  #alertsRow {
    display: none;
  }
  table {
    width: 100%;
  }

include includes/navbar
div.container-fluid
  div.row-fluid
    div.span2
      include mixins/sidebar
      mixin sidebar('Dashboard')
    div.span10
      div.row-fluid(id='progressRow')
          div.span9.progress.loading.progress-striped(id='progressContainer')
            div.bar(id='progressPercent')
              h3
          div.span3
            h3(id='phaseInfo')
        hr
      div.row-fluid(id='alertsRow')
        hr
      script
        var makeKey = exports.makeKey = function(date) {
          return date.getFullYear()+'-'+(date.getUTCMonth()+1)+'-'+date.getUTCDate();
        }
        var maketime = function(time){
          return time.minutes + ' : '+time.seconds;
        }
        var key = makeKey(new Date());
        $.getJSON('/user/calendar', function(calendar){
          var today = calendar[key];
          console.log("Today: ", today);
          $('#distance').text(
            today.plan.distance.value+
            ' '+
            today.plan.distance.unit+
            ' ('+
            today.plan.type+
            ')'
          );
          $('#time').text(maketime(today.plan.time));
          $('#runtype').text(today.plan.type+'.');
          $('#infohead').text('More information about '+today.plan.type+' runs:');
          $('#moreinfo').html(today.plan.info);

          $('#progressPercent').width(String(today.week+20)+'%');
          $('#progressPercent > h3').html(String(today.week)+'%')
          $('#phaseInfo').text('Phase '+today.phase+' (Week '+today.week+')');
        });

      div#today
      div.row-fluid(id='planRow')
        div.span12.well
          div.span6
            div.planText
              h2 You're running
            div.planEmph
              h2(id='distance')
            div.planText
              h2 in
            div.planEmph
              h2(id='time')
          div.span6
            h3(id='infohead')
            div(id='moreinfo')
      div.row-fluid(id='logRow')
        div.span12
          div.span6.well
            h2 How'd you do?
            p logging form will go here logging form will go here logging form will go here logging form will go here logging form will go here logging form will go here logging form will go here logging form will go here logging form will go here logging form will go here logging form will go here logging form will go here
            p logging form will go here logging form will go here logging form will go here logging form will go here logging form will go here logging form will go here logging form will go here logging form will go here logging form will go here logging form will go here logging form will go here logging form will go here
          
          div.span6.well
            div(style='text-align:center')
              h2 History
            table.table
              thead
                tr
                  th Week
                  th Total Miles
                  th Total Time
                  th Average Mile Pace
                  th On Target?
              tbody
                tr
                  td 16 (Current)
                  td 15.3
                  td 2:10:43
                  td 11:09
                  td 
                    i.icon-ok
                tr
                  td 15
                  td 14.2
                  td 2:50:24
                  td 12:00
                  td
                    i.icon-remove
                tr
                  td 14
                  td 15.8
                  td 2:45:54
                  td 10:30
                  td
                    i.icon-ok
            a(href='statistics') ... more statistics
