include includes/blank-navbar
div.container-fluid
  div.row-fluid
    div.span2
    div.span8
      div.well
        - if (error)
          div.alert.alert-error
            button.close(data-dismiss='alert') ×
            p
              strong Woops!
              br
              |  Your email and password didn't match up!
        
        - if (newuser)
          div.alert.alert-success
            button.close(data-dismiss='alert') ×
            p
              strong Congratulations!
              br
              | Your new account has been created. Take a deep breath. Smile. Then log in and get started!

        form.form-horizontal(id='loginForm')
          input(type='hidden', name='_csrf', id='_csrf', value='#{session._csrf}')
          fieldset
            legend Log in to AFaster.Me
            div.control-group
              label.control-label(for='email') Your email address
              div.controls
                - if (email)
                  input.input-xlarge(type='text', name='email', id='email', placeholder='me@gmail.com', value='#{email}')
                - else
                  input.input-xlarge(type='text', name='email', id='email', placeholder='me@gmail.com')
            div.control-group
              label.control-label(for='password') Your password
              div.controls
                input.input-xlarge(type='password', name='password', id='password', placeholder='my-pass-123')
            div.control-group
              div.controls
                input.btn.btn-success(type='submit', value='Log In →')
                a(href='/signup', style='margin-left: 10px;') Don't have an account?
    div.span2

script(src='/js/jquery.validate.js');
script(src='/js/validate-login.js');
